<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/fav.jpg" type="image/x-icon">
    <title>Home | <%= org %></title>
</head>
<body>

    
<div class="container">

    <h2>
        Welcome
    </h2>

    <div class="nav-left">
        <ul>
            <a href="api/lms/v1/users/login"><li>Login</li></a>
            <a href="api/lms/v1/users/register"><li>Register</li></a>
            <a href="api/lms/v1/users/library"><li>Library</li></a>
            <!-- <li><a href="/login">Login</li></a> -->
        </ul>
    </div>
    
</div>
</body>
</html>